@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.eot');
    src: url('./fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Montserrat-Regular.woff2') format('woff2'),
    url('./fonts/Montserrat-Regular.woff') format('woff'),
    url('./fonts/Montserrat-Regular.ttf') format('truetype'),
    url('./fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./fonts/Montserrat-Bold.eot');
    src: url('./fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Montserrat-Bold.woff2') format('woff2'),
    url('./fonts/Montserrat-Bold.woff') format('woff'),
    url('./fonts/Montserrat-Bold.ttf') format('truetype'),
    url('./fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1145px;
    margin: 0 auto;
}

.header {
    padding: 25.5px 0;
}
.header__nav__list {
    text-align: center;
    margin: 0;
}
.header__nav__list__item {
    display: inline-block;
    margin-right: 72px;
}
.header__nav__list__item:last-child {
    margin-right: 0;
}
.header__nav__list__item__link {
    font-family: 'Montserrat-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}
.main__banner img {
    width: 100%;
    height: 789px;
    object-fit: cover;
}
.main__banner {
    margin-bottom: 48px;
}

.main__title {
    font-family: 'Montserrat-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 38px;
    text-align: center;
}
.main__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
}

.main__text:last-child {
    margin-bottom: 0;
}

.main__button {
    background: #FF0000;
    border-radius: 4px;
    color: #FFFFFF;
    display: flex;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    padding: 18px 43px;
    border: none;
    margin: 66px auto 0;
    cursor: pointer;
}
.footer {
    padding: 40px 0 29px;
    margin-top: 42px;
}
.footer__copy {
    font-family: 'Montserrat-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 2.4px;
    color: #373737;
}